body {
  font-family: sans-serif;
  font-feature-settings: 'palt';
  line-height: 1.5;
}

article {
  margin: 2rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 40rem;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: 0.25rem solid #ccc;
  color: #444;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
  text-align: center;
  color: #900;
}

hr {
  height: 0.25rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 18rem;
  border-radius: 0.5rem;
  border: 0.25rem solid teal;
  background-color: darkturquoise;
}

footer {
  margin-top: 2rem;
  font-size: 0.875rem;
  color: chocolate;
}
footer a {
  color: inherit;
}
