body {
  background-color: #454545;
  color: #333;
  font-family: sans-serif;
  font-feature-settings: 'palt';
  line-height: 1.5;
}

section {
  margin: 2rem auto;
  width: 90%;
  max-width: 50rem;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 2rem;
  border: 0.25rem solid #777;
  background-color: white;
}

header {
  text-align: right;
}

a,
.link {
  color: #25a;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: center;
}
