body {
  font-family: 'Averia Serif Libre', serif;
}

.excerpt {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  max-width: 480px;
  box-sizing: border-box;
}

.title {
  font-size: 20px;
  margin: 0 0 10px;
}

.quote {
  margin: 0;
}

.quote-text {
  font-size: 24px;
  margin: 10px 0;
}

.large {
  font-size: 32px;
}

.small {
  font-size: 20px;
}
